{{> head}}

{{> navbar }}
<div class="row">

<div class="col-8">

<h1> El Guason</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quibusdam placeat modi nisi. Porro, consequuntur pariatur unde voluptatibus ratione vitae consequatur doloribus est odit sit quaerat, deserunt dolorem sed adipisci!</p>
</div>

<div class="col-4">

<img src='/assets/img/joker.jpg' class="img-thumbnail">

</div>
</div>

{{> footer}}